body {
    background: rgba(0, 0, 0, 0) url("../img/corcho.jpg");
    font-family: "Droid Sans", serif;
    font-size: 1.6em;
}

a {
    text-decoration: none;
}

.polaroid-images {
    /* float: left; */
    margin: 10px 0;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.polaroid-images a {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* display: inline; */
    /* float: left; */
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s linear 0s;
    z-index: 0;
}

.polaroid-images a::after {
    color: #333;
    content: attr(title);
    font-size: 20px;
    /* position: relative; */
    top: 15px;
}

.polaroid-images a div {
    background-color: black;
    width: 300px;
    height: 200px;
}

.polaroid-images img {
    display: block;
    width: inherit;
    opacity: 0;
    -moz-transition: opacity 5s;
    /* Firefox  */
    -webkit-transition: opacity 5s;
    /* Safari and Chrome */
    -o-transition: opacity 5s;
    transition: opacity 5s;
}

.polaroid-images a:nth-child(1n) {
    transform: rotate(-6deg);
}

.polaroid-images a:nth-child(2n) {
    transform: rotate(4deg);
}

.polaroid-images a:nth-child(3n) {
    transform: rotate(-12deg);
}

.polaroid-images a:nth-child(4n) {
    transform: rotate(14deg);
}

.polaroid-images a:nth-child(5n) {
    transform: rotate(11deg);
}

.polaroid-images a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    /* transform: scale(1.2); */
    z-index: 10;
    transform: none;
}

img.selected {
    width: 70vw;
    height: 70vh;
    position: absolute;
    left: 15vw;
    top: 15vh;
    border: 5px solid white;
    transition: none;
    z-index: 100;
}